#User specific files
*.uvoptx
*.uvguix.*

#Object Files
*.o
*.axf
*.b[0-3][0-9]
*.hex
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.obj
*.sbr

#Listing Files
*.lst
*.htm
*.cod

#Other
*.lnp
*.dep
*.map
deadlock/deadlock.def
